.movie-search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form {
  margin-right: 5rem;
  margin-top: 1.2rem;
}

.cart-widget {
  position: absolute;
  right: 0;
  top: 24%;
  background-color: white;
  padding: 5px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-widget:hover {
  transform: scale(1.2);
  background-color: rgb(244, 247, 66);
}

.cart-widget img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.cart-widget p {
  color: black;
  font-size: 18px;
  margin: 0;
}