.cartBody {
    position: relative;
    left: 10px;
}

.cartEmptyImg {
    width: 5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 5px;
    position: relative;
    left: 10px;
    margin-bottom: 10px;
}

.btnBuy {
    margin-top: 10px;
    position: relative;
    left: -260px;
}